@charset "UTF-8";

.hidden {

display:none;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #fff;
	border-top: 10px solid #333;
}

p {
	line-height: 25px;
}

h1 {
	font-family: "Signika", Helvetica, Arial, sans-serif;
	font-size: 30px;
}

h2 {
	font-family: "Signika", Helvetica, Arial, sans-serif;
	font-size: 20px;
}

h3 {
	font-family: "Signika", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 10px;
}

a {
	text-decoration: none;
}

#siteCon {
	margin: 0 auto;
	/*max-wdith up to 1200px*/
	width: 960px;
	/*background-color: #f5f7fa;*/
}

#mainHeader {
	margin-top: 0px;
	height: 170px;
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	border-bottom: solid 10px #9ABD4B;
}

#logo {
	height: 100px;
	width: 170px;
	margin-top: 5px;
}

#mainNav {
	margin-left: auto;
	/*could also use justify-content: space between; in #mainHeader in stead of margin-left:auto; here*/
	display: flex;
	flex-direction: column;
}

#mainNav ul {
	display: flex;
	flex-direction: row;
}

#mainNav ul li a {
	display: block;
	justify-content: space-between;
	margin-top: 140px;
	width: 100px;
	background-color: #f1f1f1f1;
	color: grey;
	/*font-weight: bold;*/
	/*margin-left: 50px;*/
	text-align: center;
	padding: 8px;
	font-size: 14px;
	text-transform: uppercase;
	/*gradient VVV*/
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	}

#mainNav ul li a:hover {
	background: #fcfff4;
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}

#heroImage {
	margin-top: 80px;
	margin-bottom: 50px;
}

#welcome {
	margin-bottom: 30px;
}

#welcomeHeader {
	margin-bottom: 30px;
}

#meeting {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}

#meetingInfoHead {
	margin: 0;
	display: block;
}

#meetingInfo p {
	margin-top: 20px;
}

#map {
	display: flex;
	flex-direction: row;
	margin-right: auto;
	/*margin-top: 100px;*/
}

/*#meetingInfo {
	
}*/

/*#membershipFunding {*/
/*	display: flex;
	flex-direction: row;
	margin: 0;*/
}

/*#membership {
	margin: 0;
	display: block;
}*/

/*#membership h2 p {
	float: right;

}

#membership h2 {
	flex-direction: column;
	margin: 0 auto;
}
#membership p {
	margin-top: 50px;
}*/

#fundingIMG {
	height: 300px;
	width: 301px;
	background-color: gray;
}

#troutHatchery {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

#troutHatchery h2  {
	margin-bottom: 20px;
}

#currentEvents h1 {
	margin: 40px 0px 30px 0px;
}

#rodBuilding {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}

#streamHabitat {
	display: flex;
	flex-direction: row;
	margin-bottom: 100px;
}


#supporters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 40px;
}

#mainFooter {
	margin-left: auto;
	border-top: 10px solid gray;
	margin-top: 50px;
	/*could also use justify-content: space between; in #mainHeader in stead of margin-left:auto; here*/
	display: flex;
	flex-direction: column;	
}

#footerNav ul {
	display: flex;
	flex-direction: row;
}

#footerNav ul li a {
	display: block;
	justify-content: space-between;
	margin-top: 20px;
	/*width: 150px;*/
	background-color: #f1f1f1f1;
	color: grey;
	/*margin-left: 50px;*/
	text-align: center;
	padding: 8px;
	font-size: 14px;
	text-transform: uppercase;
}

/*Projects Page CSS*/

#projectDesc {
	margin: 40px 0px 20px 0px; /*trbl*/
	/*background-color: #F8F8F8;*/
	/*padding: 10px;*/
}

#projectDesc h1 {
	margin: 0px 0px 20px 0px; /*trbl*/	
}

#project1 {
	display: flex;
	flex-direction: row;
/*	margin-bottom: 100px;*/
}

#project1TXT {
	display: none;
}

#project1 h2 {
	margin-bottom: 10px;
}

#project p {
	padding-top: 20px;
}

#project1 {
	display: flex;
	flex-direction: row;
/*	margin-bottom: 100px;*/
}

#project1TXT {
	display: none;
}

#project1 h2 {
	margin-bottom: 10px;
}

#project p {
	padding-top: 20px;
}
