/*Utility Class*/
.hidden
{
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }


/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}

/*General Rules for Elements*/

body
{
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

p {
  line-height: 18px;
  font-size: 14px;
}

a 
{ 
  color:#000; 
  text-decoration: none;  
  transition:all .1s linear 0s;
}

h1
{
  font-family: 'Signika', Times, "Times New Roman", serif;
  color: #5d7031;
  font-size: 20px;
}

h2
{
	font-family: 'Signika', Times, "Times New Roman", serif;
	color: #5d7031;
  font-size: 16px;
}

h3 {
  font-family: "Signika", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 13px;
}

hr {
  border: solid .5px #9ABD4B;
  width: 60%;
}

span {
  font-weight: bold;
}

.container {
  margin: 0px auto;
  padding: 0px 15px 0 15px;
  max-width: 1200px; 
}

.button {
  text-align: center;
  padding: 7px;
  font-size: 12.5px;
  text-decoration: none;
  color: #F1F1F1F1;
  border: none;
  border-radius: 3px;
  background-color: #9c9da0;
  
}

.button:hover {
  background-color: #9ABD4B;
}

/*Loading Screen*/

/*#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;

  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite; 

  z-index: 1001;
}

  #loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;

  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

  #loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;

  -webkit-animation: spin 1.5s linear infinite; 
    animation: spin 1.5s linear infinite; 
} 

@-webkit-keyframes spin {
  0% { 
    -webkit-transform: rotate(0deg); 
    -ms-transform: rotate(0deg);  
    transform: rotate(0deg);  
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% { 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg); 
    -ms-transform: rotate(360deg); 
    transform: rotate(360deg);  
  }
}
*/
/*Index*/

.mainHeader {
  margin-top: 5px;
}

.mainNav {
  display: flex;
  flex-direction: column;
}

.mainNav button {
  background: url(../images/burger.svg) center no-repeat;
  width: 20px;
  height: 20px;
  border: 0;
  transition:all 400ms ease;
  margin-left: auto;
  margin-right: 25px;
  padding-top: 30px;
}

.mainNav button.expanded {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mainNav li a {
  display: block;
  padding: 10px 0 10px 0; /*trbl*/
  color: #8ea76d;
  text-align: center;
}

.mainNav li {
  border-bottom: 1px solid #efefef;
}

.mainNav li:first-child {
  border-top: 1px solid #efefef;
}

.mainNav li:last-child {
  margin-bottom: 10px;
}

#burgerCon {
  margin-top: 30px;
  display: none; 
}

#burgerCon.slideToggle {
  display: block;
}

#traaLogo {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}

#heroImage {
  margin-top: 0;
  margin-bottom: 50px;
  border-top: solid 3px #9ABD4B;
  display: none;
}

#welcome {
  text-align: center;
  margin: 50px 0 50px 0;
}

#welcome h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

#membershipFunding {
  background: rgba(154, 189, 75, 0.6);
  padding: 10px; 
  margin-top: 50px;
}


#membershipFunding h1 {
  color: #2a3016;
}

#membership h1 {
  margin-bottom: 15px;
}

#funding h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#fundingText ul {
  margin: 10px 0 10px 25px;
  list-style: circle;
  font-size: 14px;
}

#map {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 100px; 
}

#map iframe {
  height: 300px; 
  width: 100% !important;
}

#infoTXT h2 {
  margin-bottom: 15px;
}

#infoTXT {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 100px;
}

#pastEvents h1 {
  margin-top: 100px;
}

.troutHatcheryIMG {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.troutHatcheryTXT h2 {
  margin-bottom: 15px;
}

.troutHatcheryTXT {
  margin-bottom: 80px;
  max-width: 100% !important;
}

.rodBuilding h1 {
  margin-bottom: 15px;
}

.rodBuilding h2 {
  margin-bottom: 6px;
}

.rodBuilding h3 {
  margin-bottom: 15px;
}

.rodBuildingTXT {
  margin-bottom: 100px;
  max-width: 100% !important;
}

.rodBuildingIMG {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rodBuildingIMG img {
  border: solid 1px #9ABD4B;
}

#merchSection {
  margin-top: 200px;
}

#merchSection h1 {
  margin: 50px 0 50px 0;
  }

#merch div {
  height: 210px;
  width: 210px;
  margin-bottom: 10px;
  margin: auto;
}

#supporters h1 {
  margin: 100px 0 15px 0; 
}

#supportersLogos {
 display: flex;
 margin-bottom: 50px;
 flex-wrap: wrap;
 justify-content: center;
}

#section1 {
flex: 1 1 200px;
}

#section2 {
flex: 1 1 200px;
}

#anglersSportLogo {
  flex: 1 1 200px;
}

.footerNav {
  border-top: solid 6px #8ea76d;
  display: flex;
  flex-direction: row;
}

.footerNav ul {
  display: flex;
  flex-direction: row;
}

.footerNav ul li a {
  display: block;
  color: #8ea76d;
  padding: 8px;
  font-size: 14px;
  display: none;
  margin-left: auto;
}

#backTop {
  margin-left: auto;
}

/*contact page*/

#locationInfo {
  margin-top: 50px;
}

input[type=text], select, textarea {
  display: flex;
  flex-wrap: wrap;
  width: 95% !important;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px; 
  margin-bottom: 16px;
  resize: vertical;

}

#mainMap {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 80px;
  margin-bottom: 100px; 
}

#mainMap iframe {
  width: 97% !important;
  height: 300px;
}

#mailUs h1 {
  margin-top: 100px;
  margin-bottom: 15px;
}

#address {
  margin-bottom: 15px;
}

#generalMeeting {
  margin-bottom: 30px;
}

#generalMeeting h1 {
  margin: 30px 0 15px 0;
}

/*Porjects Page*/

#projectDesc {
  margin-bottom: 80px;
  text-align: center;
}

#projectDesc h1 {
  text-align: center;
  margin-bottom: 15px;
}

#salmonidMonIMG {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#salmonidMonTXT h2 {
  margin-bottom: 6px;
}

#salmonidMonTXT h3 {
  margin-bottom: 15px;
}

#salmonidMonTXT {
  max-width: 100% !important;
}

#salmonidMonTXT p {
  margin-bottom: 30px;
}

#troutHatcheryIMG {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#troutHatcheryTXT h2 {
  margin-bottom: 6px;
}

#troutHatcheryTXT h3 {
  margin-bottom: 15px;
}

#troutHatcheryTXT p {
  margin-bottom: 30px;
}

#projectArchives {
  margin: 80px 0 80px 0;
}

#projectArchives h1 {
  margin-bottom: 15px;
}

#projectArchives a {
  display: block;
  margin-bottom: 7px;
  color: green;
  font-size: 16px;
}

#projectArchives a:hover {
  color: black;
}

@media screen and (min-width: 640px) { 


.mainNav button {
  margin-right: 40px;
}

#heroImage {
  display: block;
}

#membershipFunding {
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  grid-gap: 30px;
}

#meeting {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-gap: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#map {
    margin: 0;
    height: 100% !important;
    width: 100% !important;
}

#infoTXT {
  text-align: left;
  line-height: 20px;
}

.troutHatchery {
  display: flex;
  flex-direction: row;
}

.troutHatcheryTXT {
  width: 100% !important;
  margin-top: 30px;
}

.troutHatcheryIMG {
  margin: 30px 15px 30px 0px;
 }

.rodBuilding {
  display: flex;
  flex-direction: row;
}

.rodBuildingTXT {
    width: 100% !important;
    margin-top: 30px;
}

.rodBuildingIMG {
    margin: 30px 15px 30px 0px;
}

#merch {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footerNav ul li a {
  display: block;
  font-size: 16px;
  margin-top: 30px;
  margin-right: auto;
  }

}

@media screen and (min-width: 800px) {


h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 16px;
}
  
.mainHeader {
  display: flex;
  border-bottom: solid 3px #9ABD4B;
}

#button {
  display: none;
}

#burgerCon {
  display: flex;
  flex-direction: column;
}

#logoCon {
  display: flex;
  order: -1;
  flex: 1 1 100px;
  margin: 0;
}

.mainNav {
  margin-top: 50px;
  margin-right: 30px;
  margin-left: auto;
  margin-bottom: 15px;
}

.mainNav li {
  border-bottom: none;
  display: inline;
  margin-left: 20px;
}

.mainNav li:first-child {
  border-top: none;
}

.mainNav li a {
  display: inline;
  color: gray; 
}

#traaLogo {
  max-width: 120px;
  order: -1;
}

#logoCon {
  margin-right: 0 auto;
}

.topNav {
  margin-left: 317px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-decoration: underline;
}

#welcome h1 {
  font-size: 30px;
}

#membershipFunding {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

#funding {
  margin-left: auto;
}

.troutHatchery {
  display: flex;
  flex-direction: row;
}

.troutHatcheryTXT {
    margin-top: 30px;
}

.troutHatcheryIMG {
  margin: 30px 15px 30px 0px;
 }

.rodBuilding {
  display: flex;
  flex-direction: row;
}

.rodBuildingTXT {
    margin-top: 30px;
    margin-left: 20px; 
}

.rodBuildingIMG {
    margin: 30px 15px 30px 0px;
}

#traaLogo {
  margin: 0;
  margin-left: 25px;
}

.footerLogo {
  max-width: 70px;
  order: -1;
  flex: 1 1 200px;
}

#footerNav {
  margin-left: 600px;
}

}

@media screen and (min-width: 1024px) {

p {
  font-size: 16px;
  line-height: 23px;
}

#traaLogo {
    max-width: 125px;
}

#infoTXT p {
  max-width: none;
}


.rodBuildingTXT h2 {
  margin-bottom: 15px
}


#logoCon {
  margin: 0;
}

}

@media screen and (min-width: 1400px) {

.mainNav {
  font-size: 20px;
  margin-right: 20px;
}

#traaLogo {
  max-width: 160px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.rodBuildingTXT {
  margin-bottom: 100px;
}

#pastEvents h1 {
  margin-top: 80px;
}

#infoTXT p {
  margin-bottom: 80px;
}

#supporters h1 {
  margin-top: 80px;
}

}

/*contact page media quaries*/

@media screen and (min-width: 800px) {

#locationInfo {
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  grid-gap: 30px;
}

#locationInfo {
  margin-bottom: 100px;
}

#mainMap {
  margin: 0;
   height: 100% !important;
  width: 100% !important;
    /*display: grid*/
}

#mailUs h1 {
    margin-top: 50px;
}

 #findUs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  grid-gap: 30px;
  margin-top: 100px;
 }

}

/*projects page media queries*/

@media screen and (min-width: 800px) {

.header {
    border-bottom: solid 6px #9ABD4B;
}

#projectDesc {
    margin-top: 50px;
}

#salmonidMon {
  display: flex;
  flex-direction: row;
}

#salmonidMonIMG {
  margin-top: 80px;
  flex: 1 1 210px;
    margin-right: 15px;
}

#salmonidMonTXT {
  margin-top: 80px;
  flex: 1 1 700px;
}

#troutHatchery {
  display: flex;
  flex-direction: row; 
}

#troutHatcheryIMG {
  margin-top: 80px;
  text-align: left;
  flex: 1 1 210px;
  margin-right: 15px;
}

#troutHatcheryTXT {
  flex: 1 1 700px;
  margin-top: 80px;
}

}

